{% extends 'main.html' %}

{% block content %}

<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to" href="{% url 'expense-categories' %}"><em class="icon ni ni-arrow-left"></em><span>Expense Categories</span></a></div>
                            <h2 class="nk-block-title fw-normal">Add Expense Category</h2>
                            
                        </div>
                    </div><!-- .nk-block -->
                    <div class="nk-block nk-block-lg">
                        <div class="row g-gs">
                            <div class="col-lg-6">
                                <div class="card card-bordered h-100">
                                    <div class="card-inner">
                                        <div class="card-head">
                                            <h5 class="card-title">Category Info</h5>
                                        </div>
                                        <form action=" " method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="form-label" for="cf-full-name">Category Name</label>
                                                {{form.name}}
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="cf-default-textarea">Description</label>
                                                <div class="form-control-wrap">
                                                    {{form.description}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-primary">Save Category</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
{% endblock content %}