{% extends 'main.html' %}

{% block content %}
  
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <!-- .nk-block-head -->
                    <div class="nk-block nk-block-lg">
                        
                        <div class="nk-block-head nk-block-head-sm nk-block-between">
                            <h2 class="nk-block-title fw-normal">Expenses</h2>
                            <a data-bs-toggle="modal" href="#addExpense" class="link link-sm">+ Add Expense</a>
                        </div><!-- .nk-block-head -->
                          
                        <div class="card card-bordered card-preview">
                            <div class="card-inner">
                                <table class="datatable-init nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                    <thead>
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid">
                                                    <label class="custom-control-label" for="uid"></label>
                                                </div>
                                            </th>
                                            <th class="nk-tb-col"><span class="sub-text">Date</span></th>
                                            <th class="nk-tb-col tb-col-mb"><span class="sub-text">Category</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Amount</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Branch</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Created By</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Note</span></th>
                                            <th class="nk-tb-col nk-tb-col-tools text-end">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for expense in expenses %}
                                        
                                        <tr class="nk-tb-item">
                                            <td class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col">
                                                <div class="user-card">
                                                    <div class="user-info">
                                                        <span class="tb-lead">{{expense.expense_date}} <span class="dot dot-success d-md-none ms-1"></span></span>
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{{expense.category}}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                <span class=" tb-status text-warning"><span class="currency">Ksh</span>{{expense.amount}}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-lg" data-order="Email Verified - Kyc Unverified">
                                                <ul class="list-status">
                                                    <li><em class="icon text-success ni ni-home"></em> <span>{{expense.branch}}</span></li>
                                                
                                                </ul>
                                            </td>
                                            <td class="nk-tb-col tb-col-lg">
                                                <span>{{expense.created_by}}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{{expense.note}}</span>
                                            </td>
                                            <td class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#editExpense"><em class="icon ni ni-edit-alt"></em><span>Edit Expense</span></a></li>
                                                                    <!-- <li><a href="#"><em class="icon ni ni-activity-round"></em><span>Activities</span></a></li> -->
                                                                    <li class="divider"></li>
                                                                    <!-- <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reset Pass</span></a></li> -->
                                                                    <li><a data-bs-toggle="modal" class="delete-button" href="#deleteExpense" data-pk="{{ expense.id }}"><em class="icon ni ni-trash"></em><span>Delete Expense</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                            
                                        <!-- .nk-tb-item  -->
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .card-preview -->
                    </div> <!-- nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<div class="modal fade" id="deleteExpense">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This Expense will be removed permanently.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        <form id="delete-form" method="POST">
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteObj" class="btn btn-primary">Yes, Delete it</button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Delete expense Modal-content -->


<div class="modal fade" id="addExpense">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Expense </h5><br>
            
                <form action="{% url 'create-expense' %} " method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1"> Expense Category</label>
                                <div class="form-control-wrap">
                                    {{form.category}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="email-address-1">Expense Date</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    {{form.expense_date}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="email-address-1">Branch</label>
                                <div class="form-control-wrap">
                                    {{form.branch}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1">Amount</label>
                                <div class="form-control-wrap">
                                    {{form.amount}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1"> Attachement</label>
                                <div class="form-control-wrap">
                                    {{form.attachement}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1"> Note</label>
                                <div class="form-control-wrap">
                                    {{form.note}}
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save Expense</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Expense  Modal-Content -->

<div class="modal fade" id="editExpense">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Edit Expense</h5>
                {% for expense in expenses %}
                <form action="{% url 'edit-expense' expense.id %}" class="form-validate" method="POST" enctype="multipart/form-data">
                {% endfor %}
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1"> Expense Category</label>
                                <div class="form-control-wrap">
                                    {{form.category}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="email-address-1">Expense Date</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    {{form.expense_date}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="email-address-1">Branch</label>
                                <div class="form-control-wrap">
                                    {{form.branch}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="phone-no-1">Amount</label>
                                <div class="form-control-wrap">
                                    {{form.amount}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1"> Attachement</label>
                                <div class="form-control-wrap">
                                    {{form.attachement}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1"> Note</label>
                                <div class="form-control-wrap">
                                    {{form.note}}
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save Expense</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Edit Expense  Modal-Content -->

<!--
    rendering the modal dynamically using JavaScript/jQuery to add 
    the branch.id to the form action URL when the user clicks on 
    the "Delete Branch" button.
-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
//-- deleteRole modal script
function showDeleteModalForm() {
    // Implementation of showModalForm() to display the modal
    $('#deleteExpense').modal('show');
}

    $(document).ready(function() {
    // Get all the delete buttons
    var deleteButtons = document.getElementsByClassName('delete-button');

    // Loop through each delete button
    for (var i = 0; i < deleteButtons.length; i++) {
        // Add click event listener
        deleteButtons[i].addEventListener('click', function() {
            // Get the pk from the data attribute
            var pk = this.dataset.pk;

            // Update the form's action with the correct URL
            // Replace '0' with the actual value of pk from your Django template context
            var form = document.getElementById('delete-form');
            form.action = '{% url "delete-expense" 0 %}'.replace('0', pk);

            // Display the modal form
            // Assuming you have code to display the modal form
            showDeleteModalForm();

            // You can add additional logic here if needed, e.g., pre-fill form fields, etc.

            // Let the user manually click the submit button
            // Assuming you have a submit button with id 'delete-submit-button'
            document.getElementById('deleteObj').addEventListener('click', function() {
                // Submit the form
                form.submit();
            });
        });
    }
});
//-- ends
    </script>

{% endblock content %}