 <!-- content @s -->
 <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em class="icon ni ni-arrow-left"></em><span>Components</span></a></div>
                            <h2 class="nk-block-title fw-normal">Exclusive & Special Table</h2>
                            <div class="nk-block-des">
                                <p class="lead"><strong>Softnio Team</strong> understand the value of <strong>real case-use</strong>, so our team designed some large content base table which is <strong>well optimized</strong> and fit on every screen. It gives you extra ease on your project and surely you loved it. </p>
                            </div>
                        </div>
                    </div><!-- nk-block-head -->
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered card-preview">
                            <table class="table table-ulogs">
                                <thead class="table-light">
                                    <tr>
                                        <th class="tb-col-os"><span class="overline-title">Browser <span class="d-sm-none">/ IP</span></span></th>
                                        <th class="tb-col-ip"><span class="overline-title">IP</span></th>
                                        <th class="tb-col-time"><span class="overline-title">Time</span></th>
                                        <th class="tb-col-action"><span class="overline-title">&nbsp;</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tb-col-os">Chrome on Window</td>
                                        <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                        <td class="tb-col-time"><span class="sub-text">11:34 PM</span></td>
                                        <td class="tb-col-action"></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Mozilla on Window</td>
                                        <td class="tb-col-ip"><span class="sub-text">86.188.154.225</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Nov 20, 2019 <span class="d-none d-sm-inline-block">10:34 PM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Chrome on iMac</td>
                                        <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Nov 12, 2019 <span class="d-none d-sm-inline-block">08:56 PM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Chrome on Window</td>
                                        <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Nov 03, 2019 <span class="d-none d-sm-inline-block">04:29 PM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Mozilla on Window</td>
                                        <td class="tb-col-ip"><span class="sub-text">86.188.154.225</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Oct 29, 2019 <span class="d-none d-sm-inline-block">09:38 AM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Chrome on iMac</td>
                                        <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Oct 23, 2019 <span class="d-none d-sm-inline-block">04:16 PM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Chrome on Window</td>
                                        <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Oct 15, 2019 <span class="d-none d-sm-inline-block">11:41 PM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Mozilla on Window</td>
                                        <td class="tb-col-ip"><span class="sub-text">86.188.154.225</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Oct 13, 2019 <span class="d-none d-sm-inline-block">05:43 AM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td class="tb-col-os">Chrome on iMac</td>
                                        <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                        <td class="tb-col-time"><span class="sub-text">Oct 03, 2019 <span class="d-none d-sm-inline-block">04:12 AM</span></span></td>
                                        <td class="tb-col-action"><a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- .card-preview -->
                    </div><!-- nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->