{% extends 'main.html' %}

{% block content %} 
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 
<!-- content @s -->
{% load tz %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <!-- .nk-block-head -->
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between g-3">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title"> Approved Loans</h3>
                                </div><!-- .nk-block-head-content -->
                                <div class="nk-block-head-content">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Download</span></a></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- .nk-block-head-content -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                          
                        <div class="card card-bordered card-preview">
                            <div class="card-inner">
                                <table class="datatable-init nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                    <thead>
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid">
                                                    <label class="custom-control-label" for="uid"></label>
                                                </div>
                                            </th>
                                            <th class="nk-tb-col"><span class="sub-text">Borrower</span></th>
                                            <th class="nk-tb-col tb-col-mb"><span class="sub-text">Date Approved</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Due Date</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Final Payment Date</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Amount Approved</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Total Payable</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Loan Balance</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Action</span></th>

                                            <th class="nk-tb-col nk-tb-col-tools text-end">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for loan in loans %}
                                        
                                        <tr class="nk-tb-item">
                                            <td class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col">
                                                <div class="user-card">
                                                    <div class="user-info">
                                                        <span class="tb-lead">{{loan.member.first_name}} {{ loan.member.last_name}}<span class="dot dot-success d-md-none ms-1"></span></span>
                                                        <span>{{loan.member.phone_no}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{% timezone company_tz %} {{loan.approved_date.date }} {% endtimezone %}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{% timezone company_tz %} {{loan.due_date.date}} {% endtimezone %}</span>
                                            </td>
                                            <td class=" nk-tb-col tb-col-lg" >
                                                <span class="tb-amount"> {% timezone company_tz %} {{loan.final_due_date.date}} {% endtimezone %}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-mb">
                                                <span>{{ loan.approved_amount }}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{{ loan.total_payable }}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{{ loan.loan_balance }}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span class="badge text-medium text-primary">{{ loan.status }}</span>
                                            </td>
                                            <td class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-eye-alt"></em><span>View Details </span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                            
                                        <!-- .nk-tb-item  -->
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .card-preview -->
                    </div> <!-- nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 6000)    // 2000 millisecond
</script>  

{% endblock content %} 