{% extends 'main.html' %}

{% block content %}
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">{{loan.loan_id}} / <strong class="text-primary small">{{loan.member.first_name}} {{loan.member.last_name}}</strong></h3>
                            <div class="nk-block-des text-soft">
                                <ul class="list-inline">
                                    <li>Borrowe ID: <span class="text-base">{{loan.member.id_no}}</span></li>
                                    <li>Last Repayment: <span class="text-base">15 Feb, 2019 01:02 PM</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <a href="{% url 'loans' %}" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                            <a href="html/user-list-regular.html" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <div class="row g-gs">
                            <div class="col-md-4">
                                <ul class="nav link-list-menu border border-light round m-0">
                                    <li>
                                        <a class="active" data-bs-toggle="tab" href="#tabItem17"><em class="icon ni ni-coin"></em><span>Loan Details</span></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#tabItem18"><em class="icon ni ni-user-circle"></em><span>Guarantor</span></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#tabItem19"><em class="icon ni ni-coins"></em><span>Collateral</span></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#tabItem20"><em class="icon ni ni-tranx-fill"></em><span>Repayments</span></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#tabItem21"><em class="icon ni ni-wallet-in"></em><span>Schedule</span></a>
                                    </li> 
                                </ul>
                                {% if loan.status == 'pending' %}
                                <ul class="d-flex justify-content-center gx-4 mt-4">
                                    <li>
                                        <a data-bs-toggle="modal" href="#approveLoan" class="btn  btn-dim btn-primary">Approve </a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="modal" href="#rejectLoan" class="btn btn-danger btn-dim">Reject</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabItem17">
                                        <div class="nk-block-head">
                                            <h5 class="title">Loan Information</h5>
                                            <div class="alert-warning">
                                                <span> Check Member KYC status and score before approving loan request</span>
                                            </div>
                                        </div><!-- .nk-block-head -->
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr>
                                                <td class="profile-ud-label">Loan Type:</td>
                                                <td class="profile-ud-value">{{loan.loan_product.loan_product_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Loan No:</td>
                                                <td class="profile-ud-value">{{loan.loan_id}}</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Borrower:</td>
                                                <td class="profile-ud-value">{{loan.member.first_name}} {{loan.member.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Member Tel:</td>
                                                <td class="profile-ud-value">{{loan.member.phone_no}}</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Status:</td>
                                                {% if loan.status == 'pending' %}
                                                <td class="profile-ud-value text-warning">{{loan.status.upper}}</td>
                                                {% elif loan.status == 'cleared' %}
                                                <td class="profile-ud-value text-success">{{loan.status.upper}}</td>
                                                {% elif loan.status == 'approved' %}
                                                <td class="profile-ud-value text-primary">{{loan.status.upper}}</td>
                                                {% else %}
                                                <td class="profile-ud-value text-danger">{{loan.status.upper}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">First Payment Date:</td>
                                                <td class="profile-ud-value">{{loan.first_repayment_date}}</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Disbursement Date:</td>
                                                <td class="profile-ud-value">{{loan.application_date}}</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Applied Amount	:</td>
                                                <td class="profile-ud-value">{{loan.applied_amount}} Kes</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Total Payable:</td>
                                                <td class="profile-ud-value">{{loan.total_payable}} Kes</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Total Paid:</td>
                                                <td class="profile-ud-value">{{loan_repayments}} Kes</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Due Amount:</td>
                                                <td class="profile-ud-value">{{loan.applied_amount}} Kes</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Late Payment Penalties:</td>
                                                <td class="profile-ud-value">{{loan.applied_amount}} Kes</td>
                                            </tr>
                                            <tr>
                                                <td class="profile-ud-label">Loan Purpose:</td>
                                                <td class="profile-ud-value">{{loan.loan_purpose}}</td>
                                            </tr>
                                            </tbody>
                                        </table><br>
                                        {% if loan.status == 'pending' %}
                                        <div class="row justify-content-center">
                                            <div class="col-md-4 text-center">
                                              <a data-bs-toggle="modal" href="#editLoanDetails" class="btn btn-primary">Edit Details</a>
                                            </div>
                                        </div>                                          
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane" id="tabItem18">
                                        <div class="nk-block-head d-flex justify-content-between align-items-center">
                                            <h5 class="title">Guarantor Information</h5> 
                                            {% if loan.status == 'pending' %}
                                            <a data-bs-toggle="modal" href="#addGuarantor" class="btn btn-primary ml-auto ">+ Add Guarantor</a>
                                            {% endif %}
                                        </div><!-- .nk-block-head -->
                                        <div class="nk-divider divider md"></div>
                                        <table class="table">
                                            <thead class="thead-dark">
                                              <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">ID No</th>
                                                <th scope="col">Tel No.</th>
                                                <th scope="col">Amount</th>
                                                {% if loan.status == 'pending' %}
                                                <th scope="col">Action</th>
                                                {% endif %}
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for guarantor in guarantors %}
                                              <tr>
                                                <th scope="row">{{guarantor.name}} {{guarantor.last_name}}</th>
                                                <td>{{guarantor.id_no}}</td>
                                                <td>{{guarantor.member.phone_no}}</td>
                                                <td>{{guarantor.amount}}</td>
                                                {% if loan.status == 'pending' %}
                                                <td><a data-bs-toggle="modal" href="#removeGuarantor" class="btn btn-dim btn-danger">Remove</a></td>
                                                {% endif %}
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                        </table>
                                          
                                    </div>
                                    <div class="tab-pane" id="tabItem19">
                                        <div class="nk-block-head d-flex justify-content-between align-items-center">
                                            <h5 class="title">Collateral Information</h5> 
                                            {% if loan.status == 'pending' %}
                                            <a data-bs-toggle="modal" href="#addCollateral" class="btn btn-primary ml-auto ">+ Add Collateral</a>
                                            {% endif %}
                                        </div><!-- .nk-block-head -->
                                        <div class="nk-divider divider md"></div>
                                        <table class="table">
                                            <thead class="thead-dark">
                                              <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">S/Number</th>
                                                <th scope="col">Estimated Value	</th>
                                                {% if loan.status == 'pending' %}
                                                <th scope="col">Action</th>
                                                {% endif %}
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for collateral in collaterals %}
                                              <tr>
                                                <th scope="row">{{collateral.name}}</th>
                                                <td>{{collateral.type}}</td>
                                                <td>{{collateral.serial_number}}</td>
                                                <td>{{collateral.estimated_value}}</td>
                                                <td>
                                                    {% if loan.status == 'pending' %}
                                                    <div class="dropdown">
                                                        <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="dropdown"><span>Action</span><em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-auto mt-1">
                                                            <ul class="link-list-plain">
                                                                <li><a data-bs-toggle="modal" href="#editCollateral" class="btn btn-sm btn-dim btn-secondary">Edit</a></li>
                                                                <li><a data-bs-toggle="modal" href="#editCollateral" class="btn btn-sm btn-dim btn-danger">Remove</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </td>    
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tabItem20">
                                        {% if loan.status != 'cleared' or 'pending' %}
                                        <div class="nk-block-head d-flex justify-content-between align-items-center">
                                            <h5 class="title">Repayments</h5> 
                                            {% if loan.status == 'approved'%}
                                            <a data-bs-toggle="modal" href="#addRepayment" class="btn btn-primary ml-auto ">+ Add Repayment</a>
                                            {% endif %}
                                        </div><!-- .nk-block-head -->
                                        {% endif %}
                                        <div class="nk-divider divider md"></div>

                                        <table class="table">
                                            <thead class="thead-dark">
                                              <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Amount Paid</th>
                                                <th scope="col">Late Penalty</th>
                                                <th scope="col">Loan Balance</th>
                                                <th scope="col">Action</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for repayment in repayments %}
                                              <tr>
                                                <th scope="row">{{repayment.date_paid}}</th>
                                                <td>{{repayment.amount}}</td>
                                                <td>{{repayment.member.phone_no}}</td>
                                                <td>{{loan_balance}}</td>
                                                {% if loan.status != 'cleared' %}
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="dropdown"><span>Action</span><em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-auto mt-1">
                                                            <ul class="link-list-plain">
                                                                <li><a data-bs-toggle="modal" href="#editCollateral" class="btn btn-sm btn-dim btn-secondary">Edit</a></li>
                                                                <li><a data-bs-toggle="modal" href="#editCollateral" class="btn btn-sm btn-dim btn-danger">Remove</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>  
                                                {% endif %}  
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tabItem21">
                                        {% if loan.status != 'cleared' or 'pending' %}
                                        <div class="nk-block-head d-flex justify-content-between align-items-center">
                                            <h5 class="title">Payment Schedule</h5> 
                                            <a data-bs-toggle="modal" href="#addRepayment" class="btn btn-primary ml-auto ">Share</a>
                                        </div><!-- .nk-block-head -->
                                        {% endif %}
                                        <div class="nk-divider divider md"></div>

                                        <table class="table">
                                            <thead class="thead-dark">
                                              <tr>
                                                <th scope="col">Principal</th>
                                                <th scope="col">P.Per Term</th>
                                                <th scope="col">I.Per Term</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Balance</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for guarantor in guarantors %}
                                              <tr>
                                                <th scope="row">Mark Moriasi {{guarantor.member.first_name}} {{guarantor.member.last_name}}</th>
                                                <td>{{guarantor.member.id_no}}</td>
                                                <td>{{guarantor.member.phone_no}}</td>
                                                <td>{{guarantor.amount}}</td>
                                                {% if loan.status != 'cleared' %}
                                                <td>20000</td>  
                                                {% endif %}  
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nk-divider divider md"></div>
                        <!--Loan notes Section-->
                        <div class="nk-block">
                            <div class="nk-block-head nk-block-head-sm nk-block-between">
                                <h5 class="title">Notes</h5>
                                <a href="#" class="link link-sm">.</a>
                            </div><!-- .nk-block-head -->
                            <form action=" " method="POST">
                                {% csrf_token %}
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="body" placeholder="Jot some notes about this loan...">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-outline-primary btn-dim">+ Add Note</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <br>
                            <div class="bq-note">
                                {% for note in loan_notes %}
                                <div class="bq-note-item">
                                    <div class="bq-note-text">
                                        <span class='fs-12px'>{{note.body}}</span>
                                    </div>
                                    <div class="bq-note-meta">
                                        <span class="bq-note-added fs-10px">Added <span class="date fs-10px">{{note.created|timesince}}</span> ago </span>
                                        <span class="bq-note-sep sep">|</span>
                                        <span class="bq-note-by fs-10px">By <span class="fs-10px">{{note.author}}</span></span>
                                        {% if request.user == note.author%}
                                        <a href="#" class="link link-sm link-danger">Delete Note</a>
                                        {% endif %}
                                    </div>
                                </div><!-- .bq-note-item -->
                                {% endfor %}
                            </div><!-- .bq-note -->  
                        </div><!-- .nk-block -->
                    </div>
                </div><!-- .card-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<!-- modals -->
<div class="modal fade" id="addGuarantor">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Guarantor </h5><br>
            
                <form action="{% url 'add-guarantor' pk=loan.id %}" class="form-validate" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Guarantor</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Amount</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">Ksh</span>
                                        </div>
                                        {{form.amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Guarantor Modal-Content -->
<div class="modal fade" id="removeGuarantor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This Guarantor will be removed permanently.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        {% for guarantor in guarantors %}
                        <form action="{% url 'remove-guarantor' guarantor.id %}" method="POST">
                        {%endfor%}
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteWH" class="btn btn-primary">Yes, Delete </button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Remove Guarantor Modal-content -->
<div class="modal fade" id="approveLoan">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-primary"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This loan status will be changed to approved.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        
                        <form action="{% url 'approve' pk=loan.id %}" method="POST">
                    
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteWH" class="btn btn-primary">Yes, Approve </button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Approve Loan Modal-content -->
<div class="modal fade" id="rejectLoan">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This loan status will be changed to rejected.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        <form action="{% url 'reject' loan.id %}" method="POST">
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteWH" class="btn btn-primary">Yes, Reject </button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Reject Loan Modal-content -->
<div class="modal fade" id="addCollateral">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Collateral </h5><br>
            
                <form action="{% url 'add-collateral' pk=loan.id %}" class="form-validate" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row g-4">
                       <!-- <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">ID</label>
                                <div class="form-control-wrap">
                                    {{form_collateral.loan_id}}
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Name</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form_collateral.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Type</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form_collateral.type}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Serial No.</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form_collateral.serial_number}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Estimated Value</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">Ksh</span>
                                        </div>
                                        {{form_collateral.estimated_value}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Collateral Modal-Content -->
<div class="modal fade" id="editCollateral">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Edit Collateral </h5><br>
                {% for collateral in collaterals %}
                <form action="{% url 'edit-collateral' collateral.id %}" class="form-validate" method="POST" enctype="multipart/form-data" >
                {% endfor %}
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">ID</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form_collateral.loan_id}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Name</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form_collateral.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Type</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form_collateral.type}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Serial No.</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form_collateral.serial_number}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Estimated Value</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">Ksh</span>
                                        </div>
                                        {{form_collateral.estimated_value}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .edit Collateral Modal-Content -->
<div class="modal fade" id="addRepayment">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Repaymemt </h5><br>
            
                <form action="{% url 'create-repayment' %}" method="POST">
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Transaction ID</label>
                                <div class="form-control-wrap">
                                    {{form_repayment.transaction_id}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="email-address-1">Member</label>
                                <div class="form-control-wrap">
                                    {{form_repayment.member}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="email-address-1">Loan ID</label>
                                <div class="form-control-wrap">
                                    {{form_repayment.loan_id}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="phone-no-1">Amount</label>
                                <div class="form-control-wrap">
                                    {{form_repayment.amount}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1">Date Paid</label>
                                <div class="form-control-wrap">
                                    {{form_repayment.date_paid}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save Payment</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Repayment  Modal-Content -->

{% endblock content %}