
{% extends 'main.html' %}

{% block content %}

<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">All Loans</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total {{loans.count}} loans.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a data-bs-toggle="modal" href="#addLoan"><span>Add Loan</span></a></li>
                                                <li><a href="#"><span>Add Loan Repayment</span></a></li>
                                                <li><a data-bs-toggle="modal" href="#loanCalc"><span>Loan Calculator</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                

                <div class="card card-bordered card-full">
                    <div class="card-inner">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h6 class="title"><span class="me-2">Loans </span> <a href="#" class="link d-none d-sm-inline">See History</a></h6>
                            </div>
                            <div class="card-tools">
                                <ul class="card-tools-nav">
                                    <li><a href="#"><span>Pending</span></a></li>
                                    <li><a href="#"><span>Overdue</span></a></li>
                                    <li><a href="#"><span>Cleared</span></a></li>
                                    <li class="active"><a href="#"><span>All</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner p-0 border-top">
                        <div class="nk-tb-list nk-tb-orders">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span>Loan No.</span></div>
                                <div class="nk-tb-col tb-col-sm"><span>Borrower</span></div>
                                <div class="nk-tb-col tb-col-md"><span>Date Issued</span></div>
                                <div class="nk-tb-col tb-col-md"><span>Date Due</span></div>
                                {% if loan.status == 'pending' %}
                                <div class="nk-tb-col tb-col-lg"><span>Applied Amount</span></div>
                                {% else %}
                                <div class="nk-tb-col tb-col-lg"><span>Loan Balance</span></div>
                                {% endif %}
                                <div class="nk-tb-col"><span>Status</span></div>
                                <div class="nk-tb-col"><span class="d-none d-sm-inline">Action</span></div>
                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                            </div>
                            {% for loan in loans %}
                            <div class="nk-tb-item">
                                <div class="nk-tb-col">
                                    <span class="tb-lead"><a href="#">#{{loan.loan_id}}</a></span>
                                </div>
                                <div class="nk-tb-col tb-col-sm">
                                    <div class="user-card">
                                        <div class="user-avatar user-avatar-sm bg-purple">
                                            <span>AB</span>
                                        </div>
                                        <div class="user-name">
                                            <span class="tb-lead">{{loan.member.first_name}} {{loan.member.last_name}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    <span class="tb-sub">{{loan.application_date}}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <span class="tb-sub text-primary">{{loan.application_date}}</span>
                                </div>
                                <div class="nk-tb-col">
                                    <span class="tb-sub tb-amount">{{loan.applied_amount}}<span>Ksh</span></span>
                                </div>
                                <div class="nk-tb-col">
                                    
                                    {% if loan.status == 'pending' %}
                                        <span class="badge badge-dot bg-warning">{{loan.status}}</span>
                                        {% elif loan.status == 'cleared' %}
                                        <span class="badge badge-dot bg-success">{{loan.status}}</span>
                                        {% elif loan.status == 'approved' %}
                                        <span class="badge badge-dot bg-primary">{{loan.status}}</span>
                                        {% else %}
                                        <span class="badge badge-dot bg-danger">{{loan.status}}</span>
                                    {% endif %}
                                </div>
                                <div class="nk-tb-col nk-tb-col-action">
                                    <div class="dropdown">
                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                            <ul class="link-list-plain">
                                                {% if loan.status == 'pending' %}
                                                <li><a href="{% url 'edit-loan' loan.id %}">Approve</a></li>
                                                <li><a href="{% url 'delete-loan' loan.id %}">Delete</a></li>
                                                {% else %}
                                                <li><a href="{% url 'view-loan' loan.id %}">View Details</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="card-inner">
                        <ul class="pagination justify-content-center justify-content-md-start">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul><!-- .pagination -->
                    </div><!-- .card-inner -->
                    <div class="card-inner-sm border-top text-center d-sm-none">
                        <a href="#" class="btn btn-link btn-block">See History</a>
                    </div>
                </div><!-- .card -->

            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<div class="modal fade" id="deleteLoan">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This Expense will be removed permanently.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        {% for expense in expenses %}
                        <form action="{% url 'delete-expense' expense.id %}" method="POST">
                        {% endfor %}
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteWH" class="btn btn-primary">Yes, Delete it</button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Delete Loan Modal-content -->

<div class="modal fade" id="addLoan">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Loan </h5><br>
            
                <form action="{% url 'create-loan' %}" class="form-validate" method="POST">
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Loan ID</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.loan_id}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Loan Product</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.loan_product}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Member</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.member}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Applied Amount</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">Ksh</span>
                                        </div>
                                        {{form.applied_amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Guarantor</label>
                                <div class="form-control-wrap">
                                   <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.guarantor}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Application Date</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    {{form.application_date}}
                                </div>
                                <div class="form-note">Date format <code>yyyy-mm-dd</code></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Loan Officer</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.loan_officer}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Attachments</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.attachments}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="cf-default-textarea">Loan Purpose</label>
                            <div class="form-control-wrap">
                                {{form.loan_purpose}}    
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Loan  Modal-Content -->

<div class="modal fade" id="editLoan">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Branch</h5>
                {% for branch in branches %}
                <form action="{% url 'edit' branch.id %}" class="form-validate" method="POST">
                {% endfor %}
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Branch Name</label>
                                <div class="form-control-wrap">
                                    <!-- <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-mail"></em>
                                    </div> -->
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form_data.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Office</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.office}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Email address</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-mail"></em>
                                    </div>
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Phone</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">+254</span>
                                        </div>
                                        <!-- <input type="number" class="form-control" name="phone" required> -->
                                        {{form.phone}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1">Capital Amount</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="number" class="form-control" id="pay-amount-1" name="capital"> -->
                                    {{form.capital}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Date Opened</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    <!-- <input type="date" class="form-control date-picker" name="date_opened" data-date-format="yyyy-mm-dd"> -->
                                    {{form.open_date}}
                                </div>
                                <!-- <div class="form-note">Date format <code>yyyy-mm-dd</code></div> -->
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <ul class="custom-control-group g-3 align-center flex-wrap"> 
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="reg-enable" name="status" value="active" {% if form.status.value == 'active' %}checked{% endif %}>
                                        <label class="custom-control-label tb-status text-success" for="reg-enable">Active</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="reg-disable" name="status" value="inactive" {% if form.status.value == 'inactive' %}checked{% endif %}>
                                        <label class=" custom-control-label tb-status text-danger" for="reg-disable">Inactive</label>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="cf-default-textarea">Notes</label>
                            <div class="form-control-wrap">
                                <!-- <textarea class="form-control form-control-sm" id="cf-default-textarea" placeholder="Write your message" name="notes"></textarea> -->
                                {{form.notes}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Edit Loan  Modal-Content -->

<div class="modal fade" id="loanCalc">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title"> Loan Calculator </h5><br>
            
                <form action="{% url 'create-loan' %}" class="form-validate" method="POST">
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Loan Product</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.loan_product}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Applied Amount</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">Ksh</span>
                                        </div>
                                        {{formCal.minimum_amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Calculate</button>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="card card-bordered card-full">
                    <div class="card-inner p-0 border-top">
                        <div class="nk-tb-list nk-tb-orders">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span>Principal</span></div>
                                <div class="nk-tb-col tb-col-sm"><span>Total Payable</span></div>
                                <div class="nk-tb-col tb-col-md"><span>Interest Rate</span></div>
                                <div class="nk-tb-col tb-col-md"><span>Amount to Pay</span></div>
                             
                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                            </div>
                            {% for loan in loans %}
                            <div class="nk-tb-item">
                                <div class="nk-tb-col">
                                    <span class="tb-lead text-muted"><a href="#">Kes</a></span>
                                </div>
                                <div class="nk-tb-col tb-col-sm">
                                    <div class="user-card">
                                        <div class="user-name">
                                            <span class="tb-lead">Kes{{total_payable}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    <span class="tb-sub">{{loanproduct.interest_rate}}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <span class="tb-sub text-primary">{{loan.application_date}}</span>
                                </div>
                                
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    
                    <div class="card-inner-sm border-top text-center d-sm-none">
                        <a href="#" class="btn btn-link btn-block">See History</a>
                    </div>
                </div><!-- .card -->
            </div>
        </div>
    </div>
</div><!-- .LoanCalc  Modal-Content -->
{% endblock content %}  