k{% extends 'main.html' %}

{% block content %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to" href="{% url 'loan-products' %}"><em class="icon ni ni-arrow-left"></em><span>Loan Products</span></a></div>
                            <h2 class="nk-block-title fw-normal">Create Loan Product</h2>
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <form action="{% url 'create-loan-product' %}" method="POST" class="nk-wizard nk-wizard-simple is-vertical is-alter" id="wizard-02">
                                    <div class="nk-wizard-head">
                                        <h5>Basic Info</h5>
                                    </div>
                                    <div class="nk-wizard-content">
                                        <div class="row gy-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-first-name">Product Name</label>
                                                    <div class="form-control-wrap">
                                                        {{form.loan_product_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-last-name">Interest Rate</label>
                                                    <div class="form-control-wrap">
                                                        {{form.interest_rate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-nationality">Interest Type</label>
                                                    <div class="form-control-wrap ">
                                                        {{form.interest_type}}
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-password">Minimum Amount</label>
                                                    <div class="form-control-wrap">
                                                        {{form.minimum_amount}}
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-re-password">Maximum Amount</label>
                                                    <div class="form-control-wrap">
                                                        {{form.maximum_amount}}
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                        </div>
                                    </div>
                                    <div class="nk-wizard-head">
                                        <h5>Limit & Term</h5>
                                    </div>
                                    <div class="nk-wizard-content">
                                        <div class="row gy-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-re-password">Loan Term</label>
                                                    <div class="form-control-wrap">
                                                        {{form.loan_product_term}}
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-nationality">Term Period</label>
                                                    <div class="form-control-wrap ">
                                                            {{form.loan_term_period}}
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-nationality">Repayment Frequency</label>
                                                    <div class="form-control-wrap ">
                                                        {{form.repayment_frequency}}
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div>
                                    <div class="nk-wizard-head">
                                        <h5>Interest & Service Fee</h5>
                                    </div>
                                    <div class="nk-wizard-content">
                                        <div class="row gy-2">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-token-address">Service Fee Type</label>
                                                    <div class="form-control-wrap">
                                                        {{form.service_fee_type}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-vr-token-address">Service Fee Rate/Value</label>
                                                    <div class="form-control-wrap">
                                                        {{form.service_fee_value}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-project-lead">Penalty Type</label>
                                                    <div class="form-control-wrap">
                                                        {{form.penalty_type}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-project-client">Penalty Value</label>
                                                    <div class="form-control-wrap">
                                                        {{form.penalty_value}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-project-lead">Penalty Frequency</label>
                                                    <div class="form-control-wrap">
                                                        {{form.penalty_frequency}}
                                                    </div>
                                                </div>
                                            </div> 
                                        </div><!-- .row -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

{% endblock content %}