
{% extends 'main.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">All Loans</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total {{loans.count}} loans.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a data-bs-toggle="modal" href="#addLoan"><span>Add Loan</span></a></li>
                                                <li><a href="#"><span>Add Loan Repayment</span></a></li>
                                                <li><a data-bs-toggle="modal" href="#loanCalc"><span>Loan Calculator</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <!-- loan list starts-->
                <div class="nk-block nk-block-lg">
                    <div class="card card-bordered card-preview">
                        <div class="card-inner">
                                <div class="card-title-group">
                                    <div class="card-title">
                                        <h6 class="title"><span class="me-2">Loans </span>
                                    </div>
                                    <div class="card-tools">
                                        <ul class=" card-tools-nav nav nav-tabs ">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#allLoans">All</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#pending">Pending</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#approved">Approved</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#cleared">Cleared</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#overDue">Overdue</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="allLoans">
                                    <div class="card-inner p-0 border-top">
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col"><span>Loan No.</span></div>
                                                <div class="nk-tb-col tb-col-sm"><span>Borrower</span></div>
                                                <div class="nk-tb-col tb-col-lg"><span>Applied Amount</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Date Applied</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Loan Officer</span></div>
                                                <div class="nk-tb-col tb-col-lg"><span>Loan Product</span></div>
                                                <div class="nk-tb-col"><span>Status</span></div>
                                                <div class="nk-tb-col"><span class="d-none d-sm-inline">Action</span></div>
                                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                                            </div>
                                            {% for loan in loans %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-lead"><a href="{% url 'view-loan' loan.id %}">#{{loan.loan_id}}</a></span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm">
                                                    <div class="user-card">
                                                        <div class="user-name">
                                                            <span class="tb-lead"><a href="{% url 'view-member' loan.member.id %}">{{loan.member.first_name}} {{loan.member.last_name}}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.applied_amount}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.application_date}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-lg">
                                                    <span class="tb-sub"><a href="{% url 'view-member' loan.member.id %}">{{loan.loan_officer}}</a></span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.loan_product}} </span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    {% if loan.status == 'pending' %}
                                                        <span class="badge badge-dot bg-warning">{{loan.status}}</span>
                                                        {% elif loan.status == 'cleared' %}
                                                        <span class="badge badge-dot bg-success">{{loan.status}}</span>
                                                        {% elif loan.status == 'approved' %}
                                                        <span class="badge badge-dot bg-primary">{{loan.status}}</span>
                                                        {% elif loan.status == 'overdue' %}
                                                        <span class="badge badge-dot bg-danger">{{loan.status}}</span>
                                                        {% else %}
                                                        <span class="badge badge-dot bg-secondary">{{loan.status}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="nk-tb-col nk-tb-col-action">
                                                    <div class="dropdown">
                                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                            <ul class="link-list-plain">
                                                                {% if loan.status == 'pending' %}

                                                                {% if user.user_type == 'admin' %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-layers"></em><span>Review</span></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'view-loan' loan.id %}">Update</a></li>
                                                                {% endif %}

                                                                <li><a data-bs-toggle="modal" class="delete-button" href="#deleteLoan" data-pk="{{ loan.id }}"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-eye-alt"></em><span>View Details</span></a></li>
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-repeat-v"></em><span>Roll Over</span></a></li> 
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="pending">
                                    <div class="card-inner p-0 border-top">
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col"><span>Loan No.</span></div>
                                                <div class="nk-tb-col tb-col-sm"><span>Borrower</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Date Applied</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Amount Applied</span></div>
                                                <div class="nk-tb-col tb-col-lg"><span>Loan Officer</span></div>
                                                <div class="nk-tb-col tb-col-lg"><span>Loan Product</span></div>
                                                <div class="nk-tb-col"><span>Status</span></div>
                                                <div class="nk-tb-col"><span class="d-none d-sm-inline">Action</span></div>
                                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                                            </div>
                                            {% for loan in loans %}
                                            {% if loan.status == 'pending' %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-lead"><a href="{% url 'view-loan' loan.id %}">#{{loan.loan_id}}</a></span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm">
                                                    <div class="user-card">
                                                        <div class="user-name">
                                                            <span class="tb-lead"><a href="{% url 'view-member' loan.member.id %}">{{loan.member.first_name}} {{loan.member.last_name}}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.application_date}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-lg">
                                                    <span class="tb-sub tb-amount">{{loan.applied_amount}}</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.loan_officer}} </span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.loan_product}} </span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    {% if loan.status == 'pending' %}
                                                        <span class="badge badge-dot bg-warning">{{loan.status}}</span>
                                                        {% elif loan.status == 'cleared' %}
                                                        <span class="badge badge-dot bg-success">{{loan.status}}</span>
                                                        {% elif loan.status == 'approved' %}
                                                        <span class="badge badge-dot bg-primary">{{loan.status}}</span>
                                                        {% else %}
                                                        <span class="badge badge-dot bg-danger">{{loan.status}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="nk-tb-col nk-tb-col-action">
                                                    <div class="dropdown">
                                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                            <ul class="link-list-plain">
                                                                {% if loan.status == 'pending' %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-layers"></em><span>Review</span></a></li>
                                                                <li><a data-bs-toggle="modal" class="delete-button" href="#deleteLoan" data-pk="{{ loan.id }}"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-eye-alt"></em><span>View Details</span></a></li>
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-repeat-v"></em><span>Roll Over</span></a></li> 
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="approved">
                                    <div class="card-inner p-0 border-top">
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col"><span>Loan No.</span></div>
                                                <div class="nk-tb-col tb-col-sm"><span>Borrower</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Date Approved</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Next Payment Date</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Final Payment</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Amount Applied</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Amount Approved</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Total Payable</span></div>
                                                <div class="nk-tb-col tb-col-lg"><span>Loan Officer</span></div>
                                                <div class="nk-tb-col"><span>Status</span></div>
                                                <div class="nk-tb-col"><span class="d-none d-sm-inline">Action</span></div>
                                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                                            </div>
                                            {% for loan in loans %}
                                            {% if loan.status == 'approved' %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-lead"><a href="{% url 'view-loan' loan.id %}">#{{loan.loan_id}}</a></span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm">
                                                    <div class="user-card">
                                                        <div class="user-name">
                                                            <span class="tb-lead"><a href="{% url 'view-member' loan.member.id %}">{{loan.member.first_name}} {{loan.member.last_name}}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.approved_date}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.next_payment_date}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.final_payment_date}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-lg">
                                                    <span class="tb-sub tb-amount">{{loan.applied_amount}}</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.approved_amount}} </span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.total_payable}} </span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.loan_officer}} </span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    {% if loan.status == 'pending' %}
                                                        <span class="badge badge-dot bg-warning">{{loan.status}}</span>
                                                        {% elif loan.status == 'cleared' %}
                                                        <span class="badge badge-dot bg-success">{{loan.status}}</span>
                                                        {% elif loan.status == 'approved' %}
                                                        <span class="badge badge-dot bg-primary">{{loan.status}}</span>
                                                        {% else %}
                                                        <span class="badge badge-dot bg-danger">{{loan.status}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="nk-tb-col nk-tb-col-action">
                                                    <div class="dropdown">
                                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                            <ul class="link-list-plain">
                                                                {% if loan.status == 'pending' %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-layers"></em><span>Review</span></a></li>
                                                                <li><a data-bs-toggle="modal" class="delete-button" href="#deleteLoan" data-pk="{{ loan.id }}"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-eye-alt"></em><span>View Details</span></a></li>
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-repeat-v"></em><span>Roll Over</span></a></li> 
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="cleared">
                                    <div class="card-inner p-0 border-top">
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col"><span>Loan No.</span></div>
                                                <div class="nk-tb-col tb-col-sm"><span>Borrower</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Approved Amount</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Date Issued</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Date Cleared</span></div>
                                                <div class="nk-tb-col tb-col-lg"><span>Approved By</span></div>
                                                <div class="nk-tb-col"><span>Status</span></div>
                                                <div class="nk-tb-col"><span class="d-none d-sm-inline">Action</span></div>
                                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                                            </div>
                                            {% for loan in loans %}
                                            {% if loan.status == 'cleared' %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-lead"><a href="{% url 'view-loan' loan.id %}">#{{loan.loan_id}}</a></span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm">
                                                    <div class="user-card">
                                                        <div class="user-name">
                                                            <span class="tb-lead"><a href="{% url 'view-member' loan.member.id %}">{{loan.member.first_name}} {{loan.member.last_name}}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.approved_amount}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-lg">
                                                    <span class="tb-sub text-primary">{{loan.approved_date}}</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.cleared_date}}</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.approved_by}}</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    {% if loan.status == 'pending' %}
                                                        <span class="badge badge-dot bg-warning">{{loan.status}}</span>
                                                        {% elif loan.status == 'cleared' %}
                                                        <span class="badge badge-dot bg-success">{{loan.status}}</span>
                                                        {% elif loan.status == 'approved' %}
                                                        <span class="badge badge-dot bg-primary">{{loan.status}}</span>
                                                        {% else %}
                                                        <span class="badge badge-dot bg-danger">{{loan.status}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="nk-tb-col nk-tb-col-action">
                                                    <div class="dropdown">
                                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                            <ul class="link-list-plain">
                                                                {% if loan.status == 'pending' %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-layers"></em><span>Review</span></a></li>
                                                                <li><a data-bs-toggle="modal" class="delete-button" href="#deleteLoan" data-pk="{{ loan.id }}"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-eye-alt"></em><span>View Details</span></a></li>
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-repeat-v"></em><span>Roll Over</span></a></li> 
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-done"></em><span>Clear</span></a></li> 
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="overDue">
                                    <div class="card-inner p-0 border-top">
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col"><span>Loan No.</span></div>
                                                <div class="nk-tb-col tb-col-sm"><span>Customer</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Date Issued</span></div>
                                                <div class="nk-tb-col tb-col-md"><span>Date Due</span></div>
                                                <div class="nk-tb-col tb-col-lg"><span>Loan Balance</span></div>
                                                <div class="nk-tb-col"><span>Status</span></div>
                                                <div class="nk-tb-col"><span class="d-none d-sm-inline">Action</span></div>
                                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                                            </div>
                                            {% for loan in loans %}
                                            {% if loan.status == 'overdue' %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-lead"><a href="#">#{{loan.loan_id}}</a></span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm">
                                                    <div class="user-card">
                                                        <div class="user-avatar user-avatar-sm bg-purple">
                                                            <img src="{{loan.member.passport_photo.url}}">
                                                        </div>
                                                        <div class="user-name">
                                                            <span class="tb-lead">{{loan.member.first_name}} {{loan.member.last_name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-sub">{{loan.application_date}}</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-lg">
                                                    <span class="tb-sub text-primary">{{loan.application_date}}</span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{loan.applied_amount}} <span>Ksh</span></span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    {% if loan.status == 'pending' %}
                                                        <span class="badge badge-dot bg-warning">{{loan.status}}</span>
                                                        {% elif loan.status == 'cleared' %}
                                                        <span class="badge badge-dot bg-success">{{loan.status}}</span>
                                                        {% elif loan.status == 'approved' %}
                                                        <span class="badge badge-dot bg-primary">{{loan.status}}</span>
                                                        {% else %}
                                                        <span class="badge badge-dot bg-danger">{{loan.status}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="nk-tb-col nk-tb-col-action">
                                                    <div class="dropdown">
                                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                            <ul class="link-list-plain">
                                                                {% if loan.status == 'pending' %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-layers"></em><span>Review</span></a></li>
                                                                <li><a data-bs-toggle="modal" class="delete-button" href="#deleteLoan" data-pk="{{ loan.id }}"><em class="icon ni ni-trash"></em><span>Delete Loan</span></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-eye-alt"></em><span>View Details</span></a></li>
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-repeat-v"></em><span>Roll Over</span></a></li> 
                                                                <li><a href="{% url 'view-loan' loan.id %}"><em class="icon ni ni-done"></em><span>Clear</span></a></li>   
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner">
                                <ul class="pagination justify-content-center justify-content-md-start">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul><!-- .pagination -->
                            </div><!-- .card-inner -->
                        </div>
                    </div><!-- .card-preview -->
                </div>
                <!-- loan list ends-->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<div class="modal fade" id="deleteLoan">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This loan will be removed permanently.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        <form id="delete-form" method="POST">
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteObj" class="btn btn-primary">Yes, Delete it</button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Delete member Modal-content -->

<div class="modal fade" id="addLoan">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Loan </h5><br>
            
                <form action="{% url 'create-loan' %}" class="form-validate" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row g-4">
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Loan Product</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.loan_product}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Member</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.member}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Applied Amount</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">Ksh</span>
                                        </div>
                                        {{form.applied_amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Application Date</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    {{form.application_date}}
                                </div>
                                <div class="form-note">Date format <code>yyyy-mm-dd</code></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Loan Officer</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.loan_officer}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Attachments</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.attachments}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="cf-default-textarea">Loan Purpose</label>
                            <div class="form-control-wrap">
                                {{form.loan_purpose}}    
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Loan  Modal-Content -->

<div class="modal fade" id="editLoan">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Branch</h5>
                {% for branch in branches %}
                <form action="{% url 'edit' branch.id %}" class="form-validate" method="POST">
                {% endfor %}
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Branch Name</label>
                                <div class="form-control-wrap">
                                    <!-- <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-mail"></em>
                                    </div> -->
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form_data.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Office</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.office}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Email address</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-mail"></em>
                                    </div>
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Phone</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">+254</span>
                                        </div>
                                        <!-- <input type="number" class="form-control" name="phone" required> -->
                                        {{form.phone}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1">Capital Amount</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="number" class="form-control" id="pay-amount-1" name="capital"> -->
                                    {{form.capital}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Date Opened</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    <!-- <input type="date" class="form-control date-picker" name="date_opened" data-date-format="yyyy-mm-dd"> -->
                                    {{form.open_date}}
                                </div>
                                <!-- <div class="form-note">Date format <code>yyyy-mm-dd</code></div> -->
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <ul class="custom-control-group g-3 align-center flex-wrap"> 
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="reg-enable" name="status" value="active" {% if form.status.value == 'active' %}checked{% endif %}>
                                        <label class="custom-control-label tb-status text-success" for="reg-enable">Active</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="reg-disable" name="status" value="inactive" {% if form.status.value == 'inactive' %}checked{% endif %}>
                                        <label class=" custom-control-label tb-status text-danger" for="reg-disable">Inactive</label>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="cf-default-textarea">Notes</label>
                            <div class="form-control-wrap">
                                <!-- <textarea class="form-control form-control-sm" id="cf-default-textarea" placeholder="Write your message" name="notes"></textarea> -->
                                {{form.notes}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Edit Loan  Modal-Content -->

<!--
    rendering the modal dynamically using JavaScript/jQuery to add 
    the branch.id to the form action URL when the user clicks on 
    the "Delete Branch" button.
-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
//-- deleteRole modal script
function showDeleteModalForm() {
    // Implementation of showModalForm() to display the modal
    $('#deleteLoan').modal('show');
}

    $(document).ready(function() {
    // Get all the delete buttons
    var deleteButtons = document.getElementsByClassName('delete-button');

    // Loop through each delete button
    for (var i = 0; i < deleteButtons.length; i++) {
        // Add click event listener
        deleteButtons[i].addEventListener('click', function() {
            // Get the pk from the data attribute
            var pk = this.dataset.pk;

            // Update the form's action with the correct URL
            // Replace '0' with the actual value of pk from your Django template context
            var form = document.getElementById('delete-form');
            form.action = '{% url "delete-loan" 0 %}'.replace('0', pk);

            // Display the modal form
            // Assuming you have code to display the modal form
            showDeleteModalForm();

            // You can add additional logic here if needed, e.g., pre-fill form fields, etc.

            // Let the user manually click the submit button
            // Assuming you have a submit button with id 'delete-submit-button'
            document.getElementById('deleteObj').addEventListener('click', function() {
                // Submit the form
                form.submit();
            });
        });
    }
});
//-- ends
</script> 
<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 6000)    // 2000 millisecond
</script>
{% endblock content %}   