
{% extends 'main.html' %}

{% block content %}

<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Loan Calculator</h3> 
                            
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="{% url 'create-loan-product' %}"><span>Add Loan Product</span></a></li>
                                                <li><a href="{% url 'create-loan' %}"><span>Add Loan</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <form action=" " class="form-validate" method="POST"> 
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Loan Product</label>
                                <select name="loan_product" class="form-select js-select2 " id="loan_product">
                                {% for loanproduct in loanproducts %}
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name" value="{{ loan_product.name }}"> -->
                                     <option value="{{ loanproduct.id }}">{{ loanproduct.loan_product_name }}</option> 

                                </div>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Amount</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">Ksh</span>
                                        </div>
                                        <input type="number" step="0.01" min="0" name="amount" class="form-control" id="amount" required> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Calculate</button>
                            </div>
                        </div>
                    </div>
                </form>
                   <br> 
                <br>
                {% if table_data %}
                <div class="card card-bordered card-full">
                    <div class="card-inner p-0 border-top">
                        <div class="nk-tb-list nk-tb-orders">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span>Installments</span></div>
                                <div class="nk-tb-col tb-col-sm"><span>Total Payable</span></div>
                                <div class="nk-tb-col tb-col-sm"><span>Principal per term</span></div>
                                <div class="nk-tb-col tb-col-md"><span>Interest per term</span></div>
                                <div class="nk-tb-col tb-col-md"><span>Amount per term</span></div>
                                <div class="nk-tb-col tb-col-md"><span>Balance</span></div>
                                
                             
                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                            </div>
                            {% for data in table_data %}
                            <div class="nk-tb-item">
                                <div class="nk-tb-col">
                                    <span class="tb-lead text-muted"><a href="#">{{ data.installment_nu }} </a></span>
                                </div>
                                <div class="nk-tb-col tb-col-sm">
                                    <div class="user-card">
                                        <div class="user-name">
                                            <span class="tb-lead">{{ data.principal_amount }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    <span class="tb-sub">{{ data.principal_per_term }}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <span class="tb-sub text-primary">{{ data.interest_per_term  }}</span>
                                </div>  
                                <div class="nk-tb-col tb-col-lg">
                                    <span class="tb-sub text-primary">{{ data.amount_per_term }}</span>
                                </div>  
                                <div class="nk-tb-col tb-col-lg">
                                    <span class="tb-sub text-primary">{{ data.loan_balance }}</span>
                                </div> 
                            </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div><!-- .card -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

{% endblock content %}  