<div class="nk-block nk-block-lg">
    <div class="nk-block-head nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title">Repaymemt Details</h4>
            <div class="nk-block-des d-flex justify-content-between align-items-center">
                <p>These are the repayments made since disbursement of this loan</p>
                {% if loan.status == 'pending' %}
                    <a data-bs-toggle="modal" href="#addRepayment" class="btn btn-primary ml-auto btn-sm ">+ Add Repayment</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="nk-divider divider md"></div>
    {% for statement in statements %}
    <form action="{% url 'analyse-statement' loan.id %}" method="post">
        {% csrf_token %}
        <div class="form-control-wrap">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add a statement" value="{{statement.statements}}" readonly>
                <input type="text" class="form-control" name="statement_id" value="{{statement.id}}" hidden>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary btn-dim">Analyse Statement</button>
                </div>
            </div>
        </div> 
    </form> 
    {% endfor %} 
</div>