{% extends 'main.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div id="msg"  class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 
 <!-- content @s -->
 <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to" href="{% url 'roles-list' %}"><em class="icon ni ni-arrow-left"></em><span>Back to Roles </span></a></div>
                        </div>
                    </div>
                    <form action="{% url 'edit-role' role.id %}" method="POST">
                        {% csrf_token %}
                        <div class="nk-block nk-block-lg">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="title nk-block-title">Edit Role</h5>
                                    <p>Assign users permissions based on their role.</p>
                                </div>
                            </div>
                            
                            <div class="card card-bordered card-preview">
                                <div class="card-inner">
                                    <div class="form-group">
                                        <label class="form-label" for="cf-full-name">Role Name</label>
                                        {{form.name}}
                                    </div>
                                    <ul class="preview-list">
                                        <li class="preview-item">
                                            <span class="preview-title overline-title">Permissions</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Branch<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'branch' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title"> .</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Member<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'member' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title"> .</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Company<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'organization' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title">.</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Loan<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'loan' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title"> .</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">User<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'companystaff' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title">.</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Product<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'loanproduct' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title">.</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Repayment<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'repayment' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title"> .</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Guarantor<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'guarantor' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title">.</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Collateral<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'collateral' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title"> .</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Note<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'note' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title">.</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Role<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'role' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title"> .</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Expense<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'expense' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                        <li class="preview-item">
                                            <span class="preview-title overline-title">.</span>
                                            <ul class="d-flex g-3">
                                                <li>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle btn btn-light" data-bs-toggle="dropdown">Expense Category<em class="icon ni ni-chevron-down"></em></a>
                                                        <div class="dropdown-menu">
                                                            {% for permission in form.permissions.field.queryset %}
                                                            {% if permission.content_type.model == 'expensecategory' %}
                                                            <ul class="link-tidy">
                                                                <li>
                                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="{{ permission.codename }}" name="permissions" value="{{ permission.pk }}" {% if permission in role.permissions.all %}checked{% endif %}>
                                                                        <label class="custom-control-label" for="{{ permission.codename }}">{{ permission.codename }}</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            {% endif %}
                                                            {% endfor%}
                                                        </div>
                                                    </div>
                                                </li><!-- li -->
                                            </ul>
                                        </li><!-- li -->
                                    </ul> <br>
                                    <div class="form-group">
                                        <label class="form-label" for="cf-full-name">Description</label>
                                        {{form.description}}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary">Save Role</button>
                                    </div>
                                </div>
                            </div><!-- .card-preview -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 6000)    // 2000 millisecond
</script>

{% endblock content %}