{% extends 'main.html' %}

{% block content %}
{% if messages %}
            <ul class="alert alert-icon alert-primary">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
{% endif %}   
 <!-- content @s -->
 <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to" href="{% url 'staffs' %}"><em class="icon ni ni-arrow-left"></em><span>Go to Staffs</span></a></div>  
                        </div>
                    </div><!-- nk-block-head -->
                    <div class="nk-block-head nk-block-head-sm nk-block-between">
                        <h2 class="nk-block-title fw-normal">Roles</h2>
                        <a data-bs-toggle="modal" href="#addRole" class="link link-sm">+ Add Role</a>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered card-preview">
                            <table class="table table-ulogs">
                                <thead class="table-light">
                                    <tr>
                                        <th class="tb-col-os"><span class="overline-title">Name <span class="d-sm-none">/ IP</span></span></th>
                                        <th class="tb-col-ip"><span class="overline-title">Description</span></th>
                                        <th class="tb-col-action"><span class="overline-title">&nbsp;</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for role in roles %}
                                    <tr>
                                        <td class="tb-col-os">{{role.name}}</td>
                                        <td class="tb-col-ip"><span class="sub-text">{{role.description}}</span></td>
                                        <td class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-1">
                                                <li>
                                                    <div class="drodown">
                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li><a  href="{% url 'edit-role' role.id %}"  ><em class="icon ni ni-edit-alt"></em><span>Edit Role</span></a></li>
                                                                <li class="divider"></li>
                                                                <li><a data-bs-toggle="modal" class="delete-button" href="#deleteRole" data-pk="{{ role.id }}"><em class="icon ni ni-trash"></em><span>Delete Role</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div><!-- .card-preview -->
                    </div><!-- nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<div class="modal fade" id="deleteRole">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This role will be removed permanently.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        <form id="delete-form" method="POST">
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteObj" class="btn btn-primary">Yes, Delete it</button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Delete role  Modal-content -->


<div class="modal fade" id="addRole">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Role </h5><br>
            
                <form action="{% url 'add-role' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="cf-full-name">Role Name</label>
                        {{form.name}}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Permissions</label> 
                        <div class="  custom-control-group g-3 align-center  "> 
                            {{form.permissions}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="cf-default-textarea">Description</label>
                        <div class="form-control-wrap">
                            {{form.description}}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Save Role</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Role Modal-Content -->

<div class="modal fade" id="editRole">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Edit Role</h5>
                <form class="form-validate" id="edit-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="cf-full-name">Role Name</label>
                        {{form.name}}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="cf-default-textarea">Description</label>
                        <div class="form-control-wrap">
                            {{form.description}}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="editObj" class="btn btn-lg btn-primary">Save Role</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Edit Role Modal-Content -->



<!-- Add this script at the end of the page or in a separate JavaScript file -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  // editmodal script  
    function showEditModalForm() {
    // Implementation of showModalForm() to display the modal
    $('#editRole').modal('show');
}

    $(document).ready(function() {
    // Get all the delete buttons
    var editButtons = document.getElementsByClassName('edit-button');

    // Loop through each delete button
    for (var i = 0; i < editButtons.length; i++) {
        // Add click event listener
        editButtons[i].addEventListener('click', function() {
            // Get the pk from the data attribute
            var pk = this.dataset.pk;

            // Update the form's action with the correct URL
            // Replace '0' with the actual value of pk from your Django template context
            var form = document.getElementById('edit-form');
            form.action = '{% url "edit-role" 0 %}'.replace('0', pk);

            // Display the modal form
            // Assuming you have code to display the modal form
            showEditModalForm();

            // You can add additional logic here if needed, e.g., pre-fill form fields, etc.

            // Let the user manually click the submit button
            // Assuming you have a submit button with id 'delete-submit-button'
            document.getElementById('editObj').addEventListener('click', function() {
                // Submit the form
                form.submit();
            });
        });
    }
});

//-- deleteRole modal script
    function showDeleteModalForm() {
    // Implementation of showModalForm() to display the modal
    $('#deleteRole').modal('show');
}

    $(document).ready(function() {
    // Get all the delete buttons
    var deleteButtons = document.getElementsByClassName('delete-button');

    // Loop through each delete button
    for (var i = 0; i < deleteButtons.length; i++) {
        // Add click event listener
        deleteButtons[i].addEventListener('click', function() {
            // Get the pk from the data attribute
            var pk = this.dataset.pk;

            // Update the form's action with the correct URL
            // Replace '0' with the actual value of pk from your Django template context
            var form = document.getElementById('delete-form');
            form.action = '{% url "delete-role" 0 %}'.replace('0', pk);

            // Display the modal form
            // Assuming you have code to display the modal form
            showDeleteModalForm();

            // You can add additional logic here if needed, e.g., pre-fill form fields, etc.

            // Let the user manually click the submit button
            // Assuming you have a submit button with id 'delete-submit-button'
            document.getElementById('deleteObj').addEventListener('click', function() {
                // Submit the form
                form.submit();
            });
        });
    }
});
//-- ends
</script>
<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 6000)    // 2000 millisecond
</script>

    

{% endblock content %}