{% extends 'main.html' %}

{% block content %}
  
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <!-- .nk-block-head -->
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between g-3">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">Members</h3>
                                    
                                </div><!-- .nk-block-head-content -->
                                {% if user.user_type == 'admin' %}
                                <div class="nk-block-head-content">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a data-bs-toggle="modal"  href="#addMember"><span>Add Member</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- .nk-block-head-content -->
                                {% endif %}
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                          
                        <div class="card card-bordered card-preview">
                            <div class="card-inner">
                                <table class="datatable-init nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                    <thead>
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid">
                                                    <label class="custom-control-label" for="uid"></label>
                                                </div>
                                            </th>
                                            <th class="nk-tb-col"><span class="sub-text">Name</span></th>
                                            <th class="nk-tb-col tb-col-mb"><span class="sub-text">Id No.</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Credit Score</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Industry</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Branch</span></th>
                                            <th class="nk-tb-col nk-tb-col-tools text-end">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in members %}
                                        
                                        <tr class="nk-tb-item">
                                            <td class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col">
                                                <div class="user-card">
                                                    <div class="user-avatar bg-dim-primary d-none d-sm-flex">
                                                        <img src="{{ member.passport_photo.url }}" >
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="tb-lead">{{member.first_name}} {{member.last_name}}<span class="dot dot-success d-md-none ms-1"></span></span>
                                                        <span>{{member.email}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{{member.id_no}}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{{member.phone_no}}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                <span class="tb-amount">{{member.credit_score}}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-lg">
                                                <span>{{member.industry}}</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>{{member.branch}}</span>
                                            </td>
                                            <td class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="{% url 'edit-member' member.id %}"><em class="icon ni ni-edit-alt"></em><span>Update Member </span></a></li>
                                                                    <li><a href="{% url 'view-member' member.id %}"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                                    <!-- <li><a href="#"><em class="icon ni ni-activity-round"></em><span>Activities</span></a></li> -->
                                                                    <li class="divider"></li>
                                                                    <!-- <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reset Pass</span></a></li> -->
                                                                    {% if user.user_type == 'admin' %}
                                                                    <li><a data-bs-toggle="modal" data-member-id="{{ member.id }}" href="#deleteMember"><em class="icon ni ni-trash"></em><span>Delete Member</span></a></li>
                                                                    {% endif %}
                                                                    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                            
                                        <!-- .nk-tb-item  -->
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .card-preview -->
                    </div> <!-- nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<div class="modal fade" id="deleteMember">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This member will be removed permanently.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        <form action="" method="POST">
                        {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteWH" class="btn btn-primary">Yes, Delete.</button>

                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Delete Member Modal-content -->

<div class="modal fade" id="addMember">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Member </h5><br>
            
                <form action="{% url 'create-member' %}" class="form-validate" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">First Name</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.first_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">Last Name</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.last_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="full-name-1">ID No.</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="text" class="form-control" id="full-name-1" name="name"> -->
                                    {{form.id_no}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Phone</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">+254</span>
                                        </div>
                                        {{form.phone_no}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Contact Email</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-mail"></em>
                                    </div>
                                   <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Date Joined</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    {{form.date_joined}}
                                </div>
                                <div class="form-note">Date format <code>yyyy-mm-dd</code></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Branch</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.branch}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Business Name</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.business_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Business Address</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.address}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Industry</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.industry}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Passport Photo</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        {{form.passport_photo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Create Member</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Add Member  Modal-Content -->

<div class="modal fade" id="editMember">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Branch</h5>
                {% for branch in branches %}
                <form action="{% url 'edit' branch.id %}" class="form-validate" method="POST">
                {% endfor %}
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Branch Name</label>
                                <div class="form-control-wrap">
                                    <!-- <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-mail"></em>
                                    </div> -->
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form_data.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Office</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.office}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-email">Email address</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-mail"></em>
                                    </div>
                                    <!-- <input type="email" class="form-control" id="fv-email" name="fv-email" name="email" required> -->
                                    {{form.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="fv-phone">Phone</label>
                                <div class="form-control-wrap">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="fv-phone">+254</span>
                                        </div>
                                        <!-- <input type="number" class="form-control" name="phone" required> -->
                                        {{form.phone}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="pay-amount-1">Capital Amount</label>
                                <div class="form-control-wrap">
                                    <!-- <input type="number" class="form-control" id="pay-amount-1" name="capital"> -->
                                    {{form.capital}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Date Opened</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-left">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    <!-- <input type="date" class="form-control date-picker" name="date_opened" data-date-format="yyyy-mm-dd"> -->
                                    {{form.open_date}}
                                </div>
                                <!-- <div class="form-note">Date format <code>yyyy-mm-dd</code></div> -->
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <ul class="custom-control-group g-3 align-center flex-wrap"> 
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="reg-enable" name="status" value="active" {% if form.status.value == 'active' %}checked{% endif %}>
                                        <label class="custom-control-label tb-status text-success" for="reg-enable">Active</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="reg-disable" name="status" value="inactive" {% if form.status.value == 'inactive' %}checked{% endif %}>
                                        <label class=" custom-control-label tb-status text-danger" for="reg-disable">Inactive</label>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="cf-default-textarea">Notes</label>
                            <div class="form-control-wrap">
                                <!-- <textarea class="form-control form-control-sm" id="cf-default-textarea" placeholder="Write your message" name="notes"></textarea> -->
                                {{form.notes}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .Edit Member  Modal-Content -->

{% endblock content %}